@model Application.Dto.Maker.MakerDto

@{
    ViewData["Title"] = "Create maker";
}

<h3>Create Maker</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MakerName" class="control-label"></label>
                <input asp-for="MakerName" class="form-control" />
                <span asp-validation-for="MakerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Create" asp-controller="Product">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
